.bookmark-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  background: var(--dark-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  fill: none;
  stroke: var(--pure-white);
}

.bookmark-icon:hover {
  background-color: var(--pure-white);
  stroke: var(--dark-blue);
}

.active {
  background: var(--dark-blue);
  stroke: var(--pure-white);
  fill: var(--pure-white);
}
