.email_container {
  width: 49rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  position: relative;
}

.email_input {
  margin: 1rem 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  border-bottom: 1px solid var(--greyish-blue);
  color: var(--pure-white);
  caret-color: var(--red);
  min-width: 36rem;
  max-height: 3.2rem;
  padding-bottom: 1.8rem;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  padding: 8px;
}

.wrong_email {
  border-bottom: 1px solid red;
}

.email_input:focus {
  outline: 0;
}

.email_input:active,
.email_input:focus {
  border-bottom: 1px solid var(--pure-white);
}

input.placeholderred::-webkit-input-placeholder {
  font-size: 12px;
  position: absolute;
  right: 0;
  color: red;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.email_input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: rgba(255, 253, 253, 0.5);
}

.text-message {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--red);
  position: absolute;
  right: 0;
  bottom: 0;
}

.error-color {
  color: var(--red);
}

.success-message {
  color: #00da1d;
}
