.home_container {
  display: grid;
  grid-template-columns:
    calc(96px + (32px * 2))
    calc(100% - (96px + (32px * 2)));
}

@media screen and (max-width: 768px) {
  .home_container {
    grid-template-columns: 1fr;
  }
}
