.btn {
  border: 0;
  outline: 0;
  background: var(--red);
  color: var(--pure-white);
  border-radius: 0.6rem;
  margin-top: 2rem;
  padding: 1.4rem 9.7rem 1.5rem 9.6rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--pure-white);
  color: var(--semi-dark-blue);
}

.play_control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  background-color: var(--light-white);
  padding: 0.9rem 2.4rem 0.9rem 0.9rem;
  border-radius: 2.85rem;
  color: var(--pure-white);
  border: none;
  outline: none;
}

.play_icon {
  fill: var(--pure-white);
}
