.btn {
  border: 0;
  outline: 0;
  background: var(--red);
  color: var(--pure-white);
  border-radius: 6px;
  margin-top: 2rem;
  padding: 1.4rem 9.7rem 1.5rem 9.6rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--pure-white);
  color: var(--semi-dark-blue);
}
