.search_input {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  appearance: textfield;
  -webkit-appearance: textfield;

  color: var(--pure-white);
  caret-color: var(--red);
  width: 32.1rem;
  height: 3.2rem;
  padding-bottom: 1.4rem;
}

.search_input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* clears the ‘X’ from Internet Explorer */
.search_input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.search_input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
.search_input[type="search"]::-webkit-search-decoration,
.search_input[type="search"]::-webkit-search-cancel-button,
.search_input[type="search"]::-webkit-search-results-button,
.search_input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search_input:focus {
  outline: 0;
}

.search_input:active,
.search_input:focus {
  border-bottom: 1px solid var(--greyish-blue);
}

::-webkit-search-decoration {
  display: none;
}

.search_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.search_input::placeholder {
  color: var(--pure-white);

  mix-blend-mode: normal;
  opacity: 0.5;
}

.search_icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--pure-white);
  margin-right: 2.4rem;
}
