.banner_container {
  display: block;
  width: 47rem;
  height: 23rem;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.banner_img {
  width: 100%;
  height: 100%;
  border-radius: 0.8px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.banner_info {
  height: 6.8rem;
  width: 100%;
  padding-left: 0.5rem;
  position: absolute;
  bottom: 0;
}

.banner_icons {
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 0;
  padding: 0.8rem 0 0.5rem;
}

.banner_icons_year {
  list-style-type: none;
}

.category_icon_box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.category_icon_box--serie {
  gap: 1rem;
  width: 8rem;
}

.category_icon {
  fill: var(--pure-white);
  opacity: 0.75;
  align-self: center;
}

.banner_title {
  margin-top: 0.5rem;
}

.controls_container--banner {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  border-radius: 0.8rem;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.25s ease-out;
  z-index: 8;
}

.banner_container:hover .controls_container--banner {
  opacity: 1;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 3;
}
