.email_container {
  width: 49rem;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.input_container{
  border-bottom: 1px solid var(--greyish-blue);
}

.email_input {
  margin: 1rem 0;
  border: 0;
  font-weight: 300;
  font-size: 15px;
  background: none;
  color: var(--pure-white);
  caret-color: var(--red);
  max-height: 3.2rem;
  padding-bottom: 1.8rem;
  line-height: normal;
}

.email_input:focus, .email_input:active {
  outline: 0;
  background-color: none;
}



.email_input::placeholder {
  color: var(--pure-white);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.text-message {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--red);

}
.error-color {
  color: var(--red);
}

.success-message {
  color: #00da1d;
}

.red_border{
  border-bottom: 1px solid var(--red);
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: none;
  color: fieldtext !important;
}