.input_container {
  width: 40rem;
  min-height: 3.7rem;
  border-bottom: 1px solid var(--greyish-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.input_field {
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  white-space: normal;
  background: none;
  appearance: textfield;
  -webkit-appearance: textfield;
  color: var(--pure-white);
  caret-color: var(--red);
  padding-bottom: 1.8rem;
}

.input_field:focus {
  outline: 0;
}

.input_container:active,
.input_container:focus {
  border-bottom: 1px solid var(--pure-white);
}

.input_field::placeholder {
  color: var(--pure-white);

  mix-blend-mode: normal;
  opacity: 0.5;
}

.error-message {
  color: var(--red);
}
