<<<<<<< HEAD:app/components/Inputs/email/styles.css
.email_container {
  width: 33.6rem;
=======
.input_container {
  width: 49rem;
>>>>>>> main:app/components/Inputs/text/styles.css
  height: 3.7rem;
  padding: 2px;
  border-bottom: 1px solid var(--greyish-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

<<<<<<< HEAD:app/components/Inputs/email/styles.css
.email_input {
=======
.input_field {
  margin: 1rem 0;
>>>>>>> main:app/components/Inputs/text/styles.css
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  appearance: textfield;
  -webkit-appearance: textfield;
  color: var(--pure-white);
  caret-color: var(--red);
  padding-bottom: 1.8rem;
}

.input_field:focus {
  outline: 0;
}

<<<<<<< HEAD:app/components/Inputs/email/styles.css
.email_input:active,
.email_input:focus .email_container {
=======
.input_field:active,
.input_field:focus {
>>>>>>> main:app/components/Inputs/text/styles.css
  border-bottom: 1px solid var(--pure-white);
}

.input_field::placeholder {
  color: var(--pure-white);

  mix-blend-mode: normal;
  opacity: 0.5;
}

.error-color {
  color: var(--red);
}
