.grid {
  width: 100%;
  height: auto;
}

.grid_title {
  margin-bottom: 3.2rem;
}

.grid_movie_gallery {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
  .grid_movie_gallery {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .grid_movie_gallery {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1450px) {
  .grid_movie_gallery {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(7, 1fr);
  }
}
